<template name="layout">
  {{#transitioner}}
    {{> yield}}
  {{/transitioner}}
</template>

<template name="home">
<div class="question1">
<div class="main-container">
  <div class="game-container">
    <img src="/images/Drawing.png" class="logo" height="35" width="65">
    <h1 class="todaysdate">
      <strong>Please select a team photo</strong>
    </h1>
<!-- toronto argonauts, and winnipeg -->
    <form class="form-inline">
        <!-- <p>BC Lions</p> -->
        <img src="/images/bclions_logo/download.png" class="btn-one">
        <!-- <p>calgary stampeders</p> -->
        <img src="/images/calgarystampers_logo/download (3).png" class="btn-two">
        <!-- <o>edmonton eskimo</o> -->
        <img src="/images/edmontoneskimo_logo/download (2).png" class="btn-three">
        <br>
        <!-- <p>hamilton</p> -->
        <img src="/images/hamilton_logo/download (6).png" class="btn-four">
        <!-- <p>montreal</p> -->
        <img src="/images/montreal_logo/download (7).png" class="btn-five">
        <!-- <p>ottawa</p> -->
        <img src="/images/ottawa_logo/Learn-Redblacks1--1024x1024.png" class="btn-six">
        <br>
        <!-- <p>saskathewan</p> -->
        <img src="/images/saskathewan_logo/download (4).png" class="btn-seven">
        <!-- <p>toronto</p> -->
        <img src="/images/torontoargo_logo/download (1).png" class="btn-eight">
        <!-- <p>winnipeg</p> -->
        <img src="/images/winnipeg_logo/download (5).png" class="btn-nine">
    </form>

    <div class="todaysdate">
	    <button class="next-btn" id="home">Next <i class="fa fa-angle-right"></i></button>
	  </div>


  </div>
 </div>
</div>
</template>



