

<template name="question2">
<div class="question1">
<div class="main-container">
  <div class="game-container">
    <img src="/images/Drawing.png" class="logo" height="35" width="65">
    <h1 class="todaysdate">
      <strong>Please select your favorite team member</strong>
    </h1>

    <form class="form-inline">
        <p>Toronto Argonauts</p>
        <img src="/images/pic1/5617360.jpeg" class="btn-one">
        <img src="/images/pic2/Gerald-Riggs-Jr-CROPPED.jpg" class="btn-two">
        <img src="/images/pic3/rgtydnbsd222j231.jpg" class="btn-three">
        <br>
        <p>Winnipeg Blue Bombers</p>
        <img src="/images/pic4/crop_19564574542.jpg" class="btn-four">
        <img src="/images/pic5/mike-renaud-copy1.jpg" class="btn-five">
        <img src="/images/pic6/Chris_Garrett3532.jpg" class="btn-six">
    </form>

    <div class="todaysdate">
	    <button class="next-btn" id="question2">Next <i class="fa fa-angle-right"></i></button>
	  </div>

<body>
    <div id="player" class='frame'></div>
</body>


  </div>
 </div>
</div>
</template>