<template name="question2">
  <div class="question2">
    <div class="main-container">
	  	<div class="game-container">

	  	<div class="game-content">
		    <img src="/images/{{random}}.png" class="btn-random main-diamond">
		    <h2>Select the diamond that matches below</h2>
			<div>
			    <img src="/images/blue.png" class="btn-one">
			    <img src="/images/green.png" class="btn-two">
			    <img src="/images/grey.png" class="btn-three">
			    <img src="/images/light_purple.png" class="btn-four">
			    <img src="/images/orange.png" class="btn-five">
			</div>
		</div>
			<button class="next-btn" id="question3">Next <i class="fa fa-angle-right"></i></button>
		 </div>
		 <div class="score-popup">+100</div>
		 <div class="score-popup-zero">0</div>
	 </div>
  </div>
</template>