<template name="register">
  <div class="register-container">
  	<div class="form-container">
  		<div class="logo">
			<img src="/images/Drawing.png">
		</div>
		<form>
			<div class="input-group">
				<span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span>
				<input id="register-name" class="form-control" type="name" placeholder="Name">
			</div>
			<div class="input-group">
				<span class="input-group-addon"><i class="fa fa-envelope fa-fw"></i></span>
				<input id="register-email" class="form-control" type="email" placeholder="Email">
		    </div>
			<div class="input-group">
				<span class="input-group-addon"><i class="fa fa-lock fa-fw"></i></span>
				<input id="register-password" class="form-control" type="password" placeholder="Password">
		    </div>
			<input type="submit" value="Register" required class="register-btn">
		</form>
	</div>
  </div>
</template>