

<template name="question3">
<div class="question1">
<div class="main-container">
  <div class="game-container">
    <i class="fa fa-calendar"></i>
    <h1 class="todaysdate">
      <strong>This is a list of top teammember of that team</strong>
      <br>
      <strong>This is your favorite teammember</strong>
    </h1>

    <form class="form-inline">
        <p>MVP</p>
        <img src="/images/blue.png" class="btn-one">
        <img src="/images/blue.png" class="btn-two">
        <img src="/images/blue.png" class="btn-three">
        <br>
        <p>favorite</p>
        <img src="/images/blue.png" class="btn-four">
    </form>

    <div class="todaysdate">
	    <button class="next-btn" id="question2">Next <i class="fa fa-angle-right"></i></button>
	  </div>

  </div>
 </div>
</div>
</template>